@import url('https://fonts.googleapis.com/css?family=Poller+One&display=swap');
/* font-family: 'Poller One', cursive; */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url('https://wallpaperplay.com/walls/full/b/e/4/124178.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* NAv area */

nav {
  background: white;
  padding: 20px;
}

nav span {
  padding: 5px 0;
  font-family: 'Poller One', cursive;
  font-size: 1.5rem;
  border-top: 2px solid rgb(217, 43, 43);
  border-bottom: 2px solid rgb(217, 43, 43);
}
/* header area */
header {
  background: url('https://pmcvariety.files.wordpress.com/2019/02/star-wars-jedi-fallen-order.jpg?w=1000&h=563&crop=1')no-repeat center center fixed;
  background-size: cover;
  height: 400px
}
main {
  margin-top: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  padding-left: 80px;
  justify-content: center;
}

/* Cards Area */
article {
  /* padding: top right bottom left */
  padding: 5px;
  box-shadow: 6px 8px 16px 0px #4b4545;
  border: 1px solid yellow;
  border-radius: 6px;
  text-align: center;
  background: rgb(47, 57, 41);
  width: 250px;
  height: 300px;
  margin-bottom: 40px;
  color: rgba(147, 226, 69, 0.98);
  /* background-image: url('https://upload.wikimedia.org/wikipedia/en/thumb/9/9b/Luke_Skywalker.png/220px-Luke_Skywalker.png'); */
  background-size: cover;

}

article h2 {

}

/* grid area */
